click
Flask
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
marshmallow
marshmallow-sqlalchemy
SQLAlchemy
Werkzeug
flask_restful
requests
gunicorn
psycopg2
marshmallow
marshmallow-sqlalchemy
marshmallow_enum
Flask-JWT==0.2.0
Flask-JWT-Extended==4.2.3
PyJWT==2.1.0
